{% extends "ai_blog/base.html" %}
{% load static %}

{% block title %}Данные в ИИ | CyberBlog AI{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1 class="mb-4">Данные - основа ИИ</h1>

        <div class="card bg-dark border-light mb-4">
            <img src="{% static 'ai_blog/images/data-science.jpg' %}" class="card-img-top" alt="Наука о данных">
            <div class="card-body">
                <h2>Как данные создают интеллект</h2>
                <p>ИИ учится так же, как ребенок - на примерах. Чем больше качественных данных, тем умнее становится система. В этой статье разбираем основы data science для ИИ.</p>
                <ul>
                    <li>Какие данные нужны для обучения</li>
                    <li>Как собирать и подготавливать данные</li>
                    <li>Проблемы с данными и как их решать</li>
                </ul>
            </div>
        </div>

        <div class="card bg-dark border-light mb-4">
            <div class="card-body">
                <h3>Типы данных в машинном обучении</h3>
                <p>Данные бывают разные: структурированные и неструктурированные, размеченные и нет. Разбираемся, какие когда использовать.</p>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'ai_blog/images/structured-data.jpg' %}" class="img-fluid rounded mb-2" alt="Структурированные данные">
                        <h5>Структурированные</h5>
                        <p>Таблицы, базы данных - четко организованная информация</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'ai_blog/images/unstructured-data.jpg' %}" class="img-fluid rounded mb-2" alt="Неструктурированные данные">
                        <h5>Неструктурированные</h5>
                        <p>Текст, изображения, видео - требует дополнительной обработки</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card bg-dark border-light mb-4">
            <div class="card-body">
                <h4 class="card-title">Популярные датасеты</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-light">MNIST - рукописные цифры</li>
                    <li class="list-group-item bg-dark text-light">IMDB - отзывы о фильмах</li>
                    <li class="list-group-item bg-dark text-light">COCO - изображения с объектами</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}